
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

body {
  font-size: 16px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: #fff;
  height: 100vh;
  background-image: linear-gradient(to right top, #ffc9e8, #e5bbdf, #caadd6, #afa0ca, #9393bd, #9397be, #949bbe, #969fbe, #b2b6ce, #cccdde, #e6e6ee, #ffffff);
}

img {
  filter: hue-rotate(215deg);
}

button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  border-color: #fff;
  padding: .15rem .75rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}


/* Grid */

.container {
  width:560px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.grid-title {
  display: grid;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.grid-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 200px;
  justify-items: stretch;
  border: solid 1px #fff;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 0;
}

.item {
  font-size: 1.15rem;
  border: solid 1px #fff;
  box-sizing: border-box;
  text-align: center;
}


/* Fonts */

.grid-title > .item {
  font-size: 2rem;
  line-height: 100px;
}

.grid-header .item {
  font-size: 1.75rem;
  line-height: 1.25;
  align-self: center;
  border: initial;
}

.grid-header .item:last-child {
  text-align: left;
}

.grid-header .big-temp {
  font-size: 3.5rem;
}

.grid-header .small-date {
  font-size: 1.15rem;
}


/* Dark mode */

.dark-mode {
  color: cornflowerblue;
  background-image: linear-gradient(to right top, #3f424e, #343845, #2a2e3d, #1f2534, #151c2c, #131725, #12111f, #0e0919, #0f0513, #0d030c, #080105, #000000);
}
.dark-mode .container {
  background-image: linear-gradient(to right top, #15161b, #17181f, #181b23, #191d27, #1a202b, #1b1e29, #1c1d27, #1c1b25, #19161c, #151014, #0d080b, #000000);
}

.dark-mode .item,
.dark-mode .grid-header {
  border-color: #505050;
}

.dark-mode img {
  filter: hue-rotate(245deg);
}

.dark-mode button {
  color: mediumpurple;
  border-color: mediumpurple;
}


/* Animate css */

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animate__animated.animate__slow {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s
}

@-webkit-keyframes pulse {
  0% {
      -webkit-transform: scaleX(1.3) scaleY(1.2) translateX(0%);
      transform: scaleX(1.3) scaleY(1.2) translateX(0%);
  }
  50% {
      -webkit-transform: scale3d(1.4,1.4,1.4) translateX(10%); 
      transform: scale3d(1.4,1.4,1.4) translateX(10%);
  }
  to {
      -webkit-transform: scaleX(1.3) scaleY(1.2) translateX(0%);
      transform: scaleX(1.3) scaleY(1.2) translateX(0%);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1.3) scaleY(1.2) translateX(0%);
    transform: scaleX(1.3) scaleY(1.2) translateX(0%);
  }
  50% {
      -webkit-transform: scale3d(1.4,1.4,1.4) translateX(10%); 
      transform: scale3d(1.4,1.4,1.4) translateX(10%);
  }
  to {
      -webkit-transform: scaleX(1.3) scaleY(1.2) translateX(0%);
      transform: scaleX(1.3) scaleY(1.2) translateX(0%);
  }
}

.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}
