body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #000;
}

audio {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#canvas {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}