@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Canvas */

#canvas1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #3a3264, #292c56, #1b2547, #101e37, #091628);
}