@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

*,
::before,
::after {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: #fff;
  height: 100vh;
  background-color: dodgerblue;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 5rem;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-size: 3.5rem;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container-choix,
.container-cases {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.container-cases {
  margin-bottom: 1rem;
}

.case {
  flex-shrink: 0;  /* ->ne rétrécit pas même s'il n'y a plus de place */
  height: 250px;
  width: 250px;
  border: solid 8px #000;
  background-color: #fff;
  margin: 1rem;
}

#premiere-case {
  margin-right: 2rem;
}

.destroy {
  flex-shrink: 0; 
  height: 250px;
  width: 250px;
  border: solid 8px #000;
  background-color: #fff;
  border-radius: 10px;
  color: #101010;
  font-size: 2rem;
  text-align: center;
  line-height: 250px;
}

.base {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 250px;
  height: 250px;
}

.container-choix .base {
  cursor: pointer;
}

button {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  border-color: transparent;
  padding: .3rem .8rem;
  font-size: 3.25rem;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
}
