@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

/* Reset */

*, 
::before, 
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Baloo Tammudu 2', cursive;
  background: #eee;
  color: #222;
}

h1 {
  text-align: center;
}

.container {
  max-width: 500px;
  min-width: 300px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container form input {
  width: 100%;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 5px 15px;
}

.container .createCookieBtn,
.container .showCookieBtn {
  font-size: 1.2rem;
  padding: .45rem 1.5rem;
  display: block;
  margin: 20px auto 0;
  outline: none;
  color: #fff;
  background-color: hotpink;
  border-radius: 3rem;
  border-color: hotpink;
  box-shadow: 2px 4px 30px rgba(65, 65, 65, 0.15);
  cursor: pointer;
}

.container .showCookieBtn {
  margin: 20px auto 20px;
  color: #222;
  background-color: yellow;
  border-color: yellow;
}

.container .info-text {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 1rem 15px .5rem;
  margin: 1rem 0;
  border-radius: 6px;
  color: orange;
}

.container .cookieList {
  list-style-type: circle;
  display: block;
  width: 100%;
  text-align: left;
  padding: 1rem 30px;
}

.container .cookieList li {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  padding: .5rem;
}