@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


/* Reset */

*, 
::before, 
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Baloo Tammudu 2', cursive;
  background: #eee;
  color: #222;
  height: 100vh;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 2rem;
}

img {
  display: block;
  margin: 0 auto;
}

.container-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  padding: 12px;
  font-size: 1.15rem;
  margin: 10px;
  border-radius: 4px;
  background-color: gold;
}

.form-inscription, 
.form-connexion {
  min-width: 400px;
  min-height: 300px;
  padding: 30px 0;
  border-radius: 8px;
  background: #333;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

label {
  font-size: 1.25rem;
  line-height: .5;
  margin-top: 25px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

.info {
  text-align: center;
}

.apparition {
  display: flex;
}