@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


/* Reset */

*, 
::before, 
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 17px;
  font-family: 'Baloo Tammudu 2', cursive;
  background: #222;
  color: white;
}

h1 {
  text-align: center;
  padding: 4rem 0 0;
  font-size: 4rem;
}

.recherche-pokemon {
  max-width: 700px;
  width: 70%;
  min-width: 450px;
  margin: 2rem auto;
  position: relative;
  display: flex;
}

.input-group {
  width: 100%;
}

.recherche-pokemon input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 1.1rem;
}

.recherche-pokemon label {
  position: absolute;
  color: #333;
  top: 50%;
  transform: translateY(-40%);
  padding-left: 15px;
  transition: all .3s ease-in; /* lent au début puis vitesse normale après */
  font-size: 1.1rem;
}

.recherche-pokemon button {
  margin-left: 5px;
  padding: 15px;
  font-size: 1.05rem;
}


/* Animation form label */

.recherche-pokemon:focus-within label,
.recherche-pokemon.active-input label { /* possède ces 2 classes */
  top: -15px;
  padding-left: 5px;
  color: #f1f1f1;
}


/* Card list */

.container {
  width: 70%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  color: #222;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.liste-pokemon li {
  width: 250px;
  height: auto;
  padding: 15px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.liste-pokemon h5  {
  font-size: 1.4rem;
  line-height: 1.1;
}

.liste-pokemon p  {
  font-size: 1.1rem;
}


/* Loader animé */

.loader {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f1f1f1;
  animation: monte .3s alternate infinite;
}
.point:nth-child(1) {
  animation-delay: .1s;
}
.point:nth-child(2) {
  animation-delay: .2s;
}
.point:nth-child(3) {
  animation-delay: .3s;
}

@keyframes monte {
  100% {
    transform: translateY(-30px);
  }
}