@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


/* Reset */

*, 
::before, 
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Baloo Tammudu 2', cursive;
  background: #eee;
  color: #222;
}

h1 {
  text-align: left;
}

.container {
  max-width: 600px;
  min-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
}

.container form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 5px 15px;
}

.container form label {
  font-size: 1.3rem;
  display: none;
}

.container form button {
  width: auto;
  font-size: 1.2rem;
  padding: .45rem 1.5rem;
  margin: 1rem 0 2rem;
  display: inline-block;
  outline: none;
  color: #fff;
  background-color: hotpink;
  border-radius: 4px;
  border-color: hotpink;
  box-shadow: 2px 4px 30px rgba(65, 65, 65, 0.15);
  cursor: pointer;
}

.container .todolist {
  list-style-type: none;
}

.container .todolist li {
  font-size: 1.3rem;
  width: 100%;
  background: whitesmoke;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  margin: 5px 0;
}

.todolist li input {
  width: 40px;
  height: 40px;
}

.todolist li button {
  margin-left: auto;
  padding: 5px;
  border-radius: 4px;
  border-color: #ddd;
}

.todolist button img {
  width: 20px;
  height: auto;
  pointer-events: none; /* permet d'être ignoré par le event Listener */
}

.todolist li span {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  height: 40px;
}

.todolist li.finDeTache span {
  text-decoration: line-through;
}


.img-container img {
  display: inline-block;
  width: 200px;
  margin-top: 2rem;
}

.img-container {
  width: 100%;
  text-align: right;
}